services:
  app:
    build:
      context: .
      dockerfile: ./devops/docker/Dockerfile.server
    ports:
      - "5000:5000"
    env_file:
      - .local/server.env
    environment:
      - STAGE=dev
    volumes:
      - ./service_accounts:/app/service_accounts:ro
      - ./data_dev:/tmp

  pipeline-load:
    build:
      context: .
      dockerfile: ./devops/docker/Dockerfile.pipe
    env_file:
      - .local/elt.env
    volumes:
      - ./service_accounts:/app/service_accounts:ro
    command: ["python", "/app/src/health_data/main.py"]

  pipeline-shell:
    build:
      context: .
      dockerfile: ./devops/docker/Dockerfile.pipe
    env_file:
      - .local/elt.env
    volumes:
      - ./service_accounts:/app/service_accounts:ro
      - ./src/analytics:/app/src/analytics
    command: ["sleep", "infinity"]