services:
  app:
    build:
      context: .
      dockerfile: ./devops/docker/Dockerfile.server
    ports:
      - "5000:5000"
    env_file:
      - .local/server.env
    volumes:
      - ./service_accounts:/app/service_accounts:ro
      - ./data_dev:/tmp